<h1>{{ Abbr.unabbr(event) }}</h1>
<form class="table" name="speedform">
  <table>
    <tr>
      <th>Name</th>
      <th>Club</th>
      <th>uid</th>
      <th ng-repeat="n in getNumber(data[id].config.judges[event].s) track by $index">S{{ $index + 1 }}:</th>
      <th>False Start</th>
      <th ng-if="Abbr.isTeam(event)">False Switches</th>
      <th>Unofficial Score</th>
      <th>Display</th>
    </tr>
    <tr ng-repeat="(uid, participant) in data[id].participants">
      <td>{{ participant.name }}</td>
      <td>{{ participant.club }}</td>
      <td>{{ uid }}</td>
      <td ng-repeat="n in getNumber(data[id].config.judges[event].s) track by $index"><input type="number" id="s{{ $index }}" min="0" ng-model="data[id].scores[uid][event].s[$index]"
        /></td>
      <td><input type="checkbox" id="fst" ng-model="data[id].scores[uid][event].start"
        /></td>
      <td ng-if="Abbr.isTeam(event)"><input type="number" id="fsw" min="0" max="3" ng-model="data[id].scores[uid][event].switches"
        /></td>
      <td>{{ score(event, data[id].scores[uid][event]).PreY }}</td>
      <td><a ng-click="display(uid, id, event)">Display</a></td>
    </tr>
  </table>
  <span ng-show="speedform.$invalid">Check input for errors marked in red.</span>
  <button ng-click="save()" ng-disabled="(speedform.$invalid)">Save &amp; Return</button>
  <button ng-click="displayAll(data[id].participants, id, event)">Display All</button>
</form>
