<h1>{{ Abbr.unabbr(event) }} Score for <u>{{ data[id].participants[uid].name }}</u> from <u>{{ data[id].participants[uid].club }}</u> ({{ uid }})</h1>
<div class="floatbuttons">
  <button ng-click="save()" ng-disabled="(freeform.$invalid)">Save &amp; Return</button>
  <button ng-click="display(uid, id, event)">Display</button>
  <button ng-click="data[id].scores[uid][event].dns = !data[id].scores[uid][event].dns; (data[id].scores[uid][event].dns ? dnsSave(uid, id, event) : '')" ng-class="{red: data[id].scores[uid][event].dns}">Did {{ (data[id].scores[uid][event].dns ? '' : 'Not ') }}Skip</button>
</div>
<form ng-if="Abbr.isSpeed(event)" class="table" name="speedform">
  <table ng-if="!data[id].scores[uid][event].dns">
    <tr ng-repeat="n in getNumber(data[id].config.judges[event].s) track by $index">
      <td><label for="s{{ $index }}">S{{ $index + 1 }}:</label></td>
      <td><input type="number" id="s{{ $index }}" min="0" ng-model="data[id].scores[uid][event].s[$index]"
        /></td>
    </tr>
    <tr>
      <td><label for="fst">False Start:</label></td>
      <td><input type="checkbox" id="fst" ng-model="data[id].scores[uid][event].start"
        ng-keydown="($event.keyCode !== 9 ? data[id].scores[uid][event].start = !data[id].scores[uid][event].start : '')"/></td>
    </tr>
    <tr ng-if="Abbr.isTeam(event)">
      <td><label for="fsw">False Switches:</label></td>
      <td><input type="text" id="fsw" min="0" max="3" ng-model="data[id].scores[uid][event].switches"
        /></td>
    </tr>
    <tr>
      <td>Unofficial Score:</td>
      <td>{{ score().PreY }}</td>
    </tr>
    <tr ng-if="reskipAllowed()">
      <td colspan="2" class="red">Reskip allowed</td>
    </tr>
  </table>
  <span ng-show="speedform.$invalid">Check input for errors marked in red.</span>
  <button ng-click="save()" ng-disabled="(speedform.$invalid)">Save &amp; Return</button>
  <button ng-click="display(uid, id, event)">Display</button>
  <button ng-click="data[id].scores[uid][event].dns = !data[id].scores[uid][event].dns; (data[id].scores[uid][event].dns ? save() : '')" ng-class="{red: data[id].scores[uid][event].dns}">Did {{ (data[id].scores[uid][event].dns ? '' : 'Not ') }}Skip</button>
</form>

<form ng-if="!Abbr.isSpeed(event)" name="freeform">
  <div class="flex-container mb" ng-repeat="(type, order) in Order" ng-if="!data[id].scores[uid][event].dns">
    <div ng-repeat="n in getNumber(data[id].config.judges[event][type]) track by $index">
      <h2>{{ type | uppercase }}{{ $index + 1 }}:</h2>
      <table ng-if="type === 'a'">
        <tbody ng-if="!MissJudges">
          <tr>
            <td><label for="a{{ $index }}mim">Minor Misses:</label></td>
            <td><input type="number" id="a{{ $index }}mim" min="0" ng-model="data[id].scores[uid][event].mim['a' + $index]"
              /></td>
          </tr>
          <tr>
            <td><label for="a{{ $index }}mam">Major Misses:</label></td>
            <td><input type="number" id="a{{ $index }}mam" min="0" ng-model="data[id].scores[uid][event].mam['a' + $index]"
              /></td>
          </tr>
        </tbody>

        <tr ng-repeat="(key, elem) in order" ng-if="(elem.dd == undefined && elem.sr == undefined) || ((elem.dd && Abbr.isType(event, 'dd')) || (elem.sr && Abbr.isType(event, 'sr')))">
          <td><label for="a{{ $parent.$parent.$index }}{{ key }}">{{ elem.desc }}</label></td>
          <td><input type="text" id="a{{ $parent.$parent.$index }}{{ key }}" min="0" max="10" step="0.5"
              ng-model="data[id].scores[uid][event].a[$parent.$parent.$index][key]" ng-change="toMax('a', $parent.$parent.$index, key)" /></td>
        </tr>
      </table>

      <table ng-if="type === 'b'">
        <tbody ng-if="!MissJudges">
          <tr>
            <td><label for="b{{ $index }}mim">Minor Misses:</label></td>
            <td><input type="number" id="b{{ $index }}mim" min="0" ng-model="data[id].scores[uid][event].mim['b' + $index]"
              /></td>
          </tr>
          <tr>
            <td><label for="b{{ $index }}mam">Major Misses:</label></td>
            <td><input type="number" id="b{{ $index }}mam" min="0" ng-model="data[id].scores[uid][event].mam['b' + $index]"
              /></td>
          </tr>
        </tbody>

        <tbody ng-if="Abbr.isType(event, 'dd')">
          <tr ng-repeat="(key, elem) in order.dd" ng-if="elem.events.indexOf(event) != -1">
            <td><label for="b{{ $parent.$parent.$index }}{{ key }}" ng-bind-html="elem.desc"></label></td>
            <td><input type="text" id="b{{ $parent.$parent.$index }}{{ key }}" min="0" max="{{ elem.max }}" ng-model="data[id].scores[uid][event].b[$parent.$parent.$index][key]"
                ng-change="toMax('b', $parent.$parent.$index, key)" /></td>
          </tr>
        </tbody>

        <tbody ng-if="Abbr.isType(event, 'sr')">
          <tr ng-repeat="(key, elem) in order.sr" ng-if="elem.events.indexOf(event) != -1">
            <td><label for="b{{ $parent.$parent.$index }}{{ key }}" ng-bind-html="elem.desc"></label></td>
            <td><input type="text" id="b{{ $parent.$parent.$index }}{{ key }}" min="0" max="{{ elem.max }}" ng-model="data[id].scores[uid][event].b[$parent.$parent.$index][key]"
                ng-change="toMax('b', $parent.$parent.$index, key)" /></td>
          </tr>
        </tbody>
      </table>

      <table ng-if="type === 'd'">
        <tr ng-if="data[id].config.simplified">
          <td><label for="d{{ $index }}-0">Level 1:</label></td>
          <td><input type="number" id="d{{ $index }}-0" min="0" ng-model="data[id].scores[uid][event].d[$index]['0']"
            /></td>
        </tr>
        <tr>
          <td><label for="d{{ $index }}-1">Level 2:</label></td>
          <td><input type="number" id="d{{ $index }}-1" min="0" ng-model="data[id].scores[uid][event].d[$index]['1']"
            /></td>
        </tr>
        <tr>
          <td><label for="d{{ $index }}-2">Level 3:</label></td>
          <td><input type="number" id="d{{ $index }}-2" min="0" ng-model="data[id].scores[uid][event].d[$index]['2']"
            /></td>
        </tr>
        <tr>
          <td><label for="d{{ $index }}-3">Level 4:</label></td>
          <td><input type="number" id="d{{ $index }}-3" min="0" ng-model="data[id].scores[uid][event].d[$index]['3']"
            /></td>
        </tr>
        <tr>
          <td><label for="d{{ $index }}-4">Level 5:</label></td>
          <td><input type="number" id="d{{ $index }}-4" min="0" ng-model="data[id].scores[uid][event].d[$index]['4']"
            /></td>
        </tr>
        <tr ng-if="Abbr.isType(event, 'sr') && !data[id].config.simplified">
          <td><label for="d{{ $index }}-5">Level 6:</label></td>
          <td><input type="number" id="d{{ $index }}-5" min="0" ng-model="data[id].scores[uid][event].d[$index]['5']"
            /></td>
        </tr>
      </table>

      <table ng-if="type === 'h'">
        <tbody ng-if="!MissJudges">
          <tr>
            <td><label for="h{{ $index }}mim">Minor Misses:</label></td>
            <td><input type="number" id="h{{ $index }}mim" min="0" ng-model="data[id].scores[uid][event].mim['h' + $index]"
              /></td>
          </tr>
          <tr>
            <td><label for="h{{ $index }}mam">Major Misses:</label></td>
            <td><input type="number" id="h{{ $index }}mam" min="0" ng-model="data[id].scores[uid][event].mam['h' + $index]"
              /></td>
          </tr>
        </tbody>

        <tr>
          <td><label for="h{{ $index }}spc">Space Violations:</label></td>
          <td><input type="number" id="h{{ $index }}spc" min="0" ng-model="data[id].scores[uid][event].h[$index].spc"
            /></td>
        </tr>
        <tr>
          <td><label for="h{{ $index }}tim">Time Violation:</label></td>
          <td><input type="checkbox" id="h{{ $index }}tim" ng-model="data[id].scores[uid][event].h[$index].tim"
            ng-keydown="($event.keyCode !== 9 ? data[id].scores[uid][event].h[$index].tim = !data[id].scores[uid][event].h[$index].tim : '')"/></td>
        </tr>
        <tr ng-if="Abbr.isType(event, 'dd')">
          <td><label for="h{{ $index }}few">Less than 3 skills:</label></td>
          <td><input type="number" id="h{{ $index }}few" min="0" ng-model="data[id].scores[uid][event].h[$index].few"
            ng-keydown="data[id].scores[uid][event].h[$index].few = !data[id].scores[uid][event].h[$index].few"/></td>
        </tr>
      </table>

      <table ng-if="type === 'm'">
        <tr>
          <td><label for="m{{ $index }}mim">Minor Misses:</label></td>
          <td><input type="number" id="h{{ $index }}mim" min="0" ng-model="data[id].scores[uid][event].mim['m' + $index]" /></td>
        </tr>
        <tr>
          <td><label for="m{{ $index }}mam">Major Misses:</label></td>
          <td><input type="number" id="h{{ $index }}mam" min="0" ng-model="data[id].scores[uid][event].mam['m' + $index]" /></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="table">
    <table>
      <tr>
        <th></th>
        <th>Required Elements</th>
        <th>Presentation</th>
        <th>Difficulty</th>
        <th>Deductions</th>
        <th>Creativity - (Deductions / 2)</th>
        <th>Difficulty - (Deductions / 2)</th>
        <th>Total</th>
      </tr>
      <tr>
        <th>Unofficial Scores:</th>
        <td>{{ scores.T3 = roundTo(freestyle.T3(data[id].scores[uid][event].b, event, simplified), 2) || '' }}</td>
        <td>{{ scores.T2 = roundTo(freestyle.T2(event, data[id].scores[uid][event].a, simplified), 2) || '' }}</td>
        <td>{{ scores.T1 = roundTo(freestyle.T1(data[id].scores[uid][event].d, event, simplified), 2) || '' }}</td>
        <td>{{ scores.T5 = (freestyle.T5(data[id].scores[uid][event], '', simplified) !== undefined ? -roundTo(freestyle.T5(data[id].scores[uid][event], '', simplified), 2) : '') }}</td>
        <td>{{ roundTo(freestyle.T4(scores.T2, scores.T3) - (-scores.T5 / 2), 2) || '' }}</td>
        <td>{{ roundTo(scores.T1 + (scores.T5 / 2), 2) || '' }}</td>
        <td>{{ roundTo(freestyle.A(scores.T1, freestyle.T4(scores.T2, scores.T3), -scores.T5,
          event).PreA, 2) || '' }}</td>
      </tr>
    </table>
  </div>
  <span ng-show="freeform.$invalid">Check input for errors marked in red.</span>
  <button ng-click="save()" ng-disabled="(freeform.$invalid)">Save &amp; Return</button>
  <button ng-click="display(uid, id, event)">Display</button>
  <button ng-click="data[id].scores[uid][event].dns = !data[id].scores[uid][event].dns; (data[id].scores[uid][event].dns ? save() : '')" ng-class="{red: data[id].scores[uid][event].dns}">Did {{ (data[id].scores[uid][event].dns ? '' : 'Not ') }}Skip</button>
</form>
