<h1>{{ data[id].config.name }}</h1>
<a ng-href="/config/{{ id }}"><button>Configure</button></a>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>{{ (Abbr.hasTeams(data[id].config.subevents) ? 'Team ' : '' ) }} Name</th>
        <th>Club</th>
        <th>id</th>

        <th ng-repeat="event in events track by $index" ng-if="data[id].config.subevents[events[$index]]">{{ Abbr.abbr(events[$index]) }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(uid, participant) in data[id].participants">
        <td>{{ participant.name }}</td>
        <td>{{ participant.club }}</td>
        <td>{{ uid }}</td>

        <th ng-repeat="event in events track by $index" ng-if="data[id].config.subevents[events[$index]]"><a ng-href="/score/{{ id }}/{{ uid }}/{{ events[$index] }}">Edit</a></th>
      </tr>
    </tbody>
  </table>
  </table>
