<h2>Basics</h2>
<table>
  <tr>
    <td><label for="name">Event Name:</label></td>
    <td><input type="text" id="name" ng-model="data[id].config.name" /></td>
  </tr>

  <tr>
    <td><label for="part">{{ (Abbr.hasTeams(data[id].config.subevents) ? "Teams:" : "Participants:" ) }}</label></td>
    <td><input type="number" id="part" ng-model="data[id].config.participants" /></td>
  </tr>

  <tr>
    <td><label for="simp">Simplified levels:</label></td>
    <td><input type="checkbox" id="simp" ng-model="data[id].config.simplified" /></td>
  </tr>
</table>
<div id="config-events">
  <label>SRSF:<input type="checkbox" ng-model="data[id].config.subevents.srsf"/></label>
  <label>SRSS:<input type="checkbox" ng-model="data[id].config.subevents.srss"/></label>
  <label>SRSE:<input type="checkbox" ng-model="data[id].config.subevents.srse"/></label>

  <label>SRSR:<input type="checkbox" ng-model="data[id].config.subevents.srsr"/></label>
  <label>DDSR:<input type="checkbox" ng-model="data[id].config.subevents.ddsr"/></label>
  <label>SRPF:<input type="checkbox" ng-model="data[id].config.subevents.srpf"/></label>
  <label>SRTF:<input type="checkbox" ng-model="data[id].config.subevents.srtf"/></label>
  <label>DDSF:<input type="checkbox" ng-model="data[id].config.subevents.ddsf"/></label>
  <label>DDPF:<input type="checkbox" ng-model="data[id].config.subevents.ddpf"/></label>

  <label>Triples:<input type="checkbox" ng-model="data[id].config.subevents.srp"/></label>
  <label>Double Unders:<input type="checkbox" ng-model="data[id].config.subevents.srd" /></label>
</div>

<h2>Judges</h2>
<p ng-if="!Abbr.count(data[id].config.subevents)"> Select at least one event</p>
<table>
  <tr ng-if="Abbr.hasFreestyle(data[id].config.subevents)">
    <td><label for="a">Presentation:</label></td>
    <td><input type="number" id="a" ng-model="data[id].config.judges.a" /></td>
  </tr>
  <tr ng-if="Abbr.hasFreestyle(data[id].config.subevents)">
    <td><label for="b">Required Elements:</label></td>
    <td><input type="number" id="b" ng-model="data[id].config.judges.b" /></td>
  </tr>
  <tr ng-if="Abbr.hasFreestyle(data[id].config.subevents)">
    <td><label for="d">Difficulty:</label></td>
    <td><input type="number" id="d" ng-model="data[id].config.judges.d" /></td>
  </tr>
  <tr ng-if="Abbr.hasFreestyle(data[id].config.subevents)">
    <td><label for="h">Head Judges:</label></td>
    <td><input type="number" id="h" ng-model="data[id].config.judges.h" /></td>
  </tr>
  <tr ng-if="Abbr.hasSpeed(data[id].config.subevents)">
    <td><label for="s">Speed:</label></td>
    <td><input type="number" id="s" ng-model="data[id].config.judges.s" /></td>
  </tr>
</table>
<button ng-click="save()">Save</button>
<button ng-click="remove()">Remove event</button>

<!-- <pre>{{data|json}}</pre> -->
