<h1>Participants</h1>
<label ng-if="!data[id].participants">Start with id:
  <input type="number" ng-model="data[id].config.idStart" />
</label>
<br/>
<table>
  <!--<tr ng-repeat="n in getNumber(data[id].config.participants) track by $index">
    <td><label>Name: <input type="text" ng-model="data[id].participants[data[id].config.idStart + $index].name"/></label></td>
    <td><label>Club: <input type="text" ng-model="data[id].participants[data[id].config.idStart + $index].club"/></label></td>
    <td>id: {{ data[id].config.idStart + $index }}</td>
  </tr>-->
  <tr ng-repeat="(uid, info) in data[id].participants">
    <td><label>Name: <input type="text" ng-model="data[id].participants[uid].name"/></label></td>
    <td><label>Club: <input type="text" ng-model="data[id].participants[uid].club"/></label></td>
    <td>id: {{ uid }}</td>
    <td><a ng-confirm-click="Remove participant {{ uid }}?" confirmed-click="delete(uid)">Remove</a></td>
  </tr>
</table>
<div><input type="number" ng-model="addNum" step="1" min="0"><button ng-click="add()">Add participants</button></div>
<div>
  <button ng-click="excelButton = !excelButton" ng-show="!excelButton">Import from excel</button>
  <div ng-show="excelButton">
    <h3>Import from excel</h3>
    <p>Copy and paste from excel, if there's only two columns without a header</p>
    <textarea ng-model="csv"></textarea>
    <br/>
    <button ng-click="import()">Import</button>
  </div>
</div>

<button ng-click="save()">Save and Continue</button>
