<!DOCTYPE html>
<html ng-app="ropescore">
  <base href="/">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="theme-color" content="#efefef">
    <!-- <link rel="manifest" href="/static/manifest.json"> -->
    <link rel="icon" href="/static/img/icon.png">
    <title>RopeScore</title>
    <!-- Resources -->
    <script src="/static/js/store.everything.min.js"></script>
    <script src="/static/js/console-history.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/sha1.js"></script>
    <script src="/static/js/papaparse.js"></script>
    <script src="/static/js/cpexcel.js"></script>
    <script src="/static/js/jszip.js"></script>
    <script src="/static/js/xlsx.js"></script>
    <script src="/static/js/lsbridge.min.js"></script>
    <script src="/static/js/raven.min.js"></script>

    <script>
      Raven.config('https://dde56038805e456bb0f9bc120547ea07@sentry.io/1045868').install()
    </script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <nav>
      <ul class="topnav">
        <li ng-click="goHome()" class="pointer">
          <div>RopeScore</div>
        </li>
        <li><a ng-href="/">Dashboard</a></li>
        <li><a ng-href="/config">New Category</a></li>
        <li ng-if="id"><a ng-href="/event/{{ id }}">Category</a></li>
        <li ng-if="id"><a ng-href="/results/{{ id }}">Results</a></li>
      </ul>
    </nav>

    <div ng-view>
      Loading... Enable javascript and/or clear cache.
    </div>

    <footer>
      {{ version }} ({{ Ruleset }} Rules) &copy; Svante Bengtson {{ copyright() }} <a ng-href="/licence">Licence</a>      &ndash; <a ng-href="/bugreport">Bugs</a> &ndash; <a ng-href="/docs#toc">Documentation</a>      &ndash; <a ng-href="/changelog">Changelog</a>
    </footer>

    <!-- DEPLOY -->
    <!-- Local angular modules -->
    <script src="/config.js"></script>
    <script src="/calc.js"></script>
    <script src="/ropescore.js"></script>
    <script src="/dash/dash.js"></script>
    <script src="/config/config.js"></script>
    <script src="/config/config.participants.js"></script>
    <script src="/event/event.js"></script>
    <script src="/score/score.js"></script>
    <script src="/score/score.speed.js"></script>
    <script src="/results/results.js"></script>
    <script src="/display/display.js"></script>
    <script src="/about/about.licence.js"></script>
    <script src="/about/about.docs.js"></script>
    <script src="/about/about.changelog.js"></script>
    <script src="/bugreport/bugreport.js"></script>
    <script src="/combine/combine.js"></script>
    <!-- END DEPLOY -->
