<div>
  <a ng-href="/config"><button>New</button></a>
  <label class="button" for="import-file">Import</label>
  <a ng-href="{{ linkData }}" download="ropescore-export.json"><button>Export</button></a>
  <button ng-click="save()">Save</button>
</div>
<h1>Dashboard</h1>
<div class="flex-container">
  <div ng-repeat="(id, event) in data" class="event">
    <a ng-href="/event/{{ id }}">{{ event.config.name }}</a>
  </div>
</div>

<input type="file" class="hidden" id="import-file" enctype="multipart/form-data"
/>
