<div>
  <a ng-href="/config"><button>New Category</button></a>
  <label class="button inltbl" for="import-file">Import</label>
  <a ng-href="{{ linkData }}" download="ropescore-export-{{ today }}{{ (computerName ? '-' + nameCleaner(computerName) : '') }}.json"><button>Export</button></a>
  <button ng-confirm-click="Are you sure you want to remove ALL data? If you haven't made an export there will be no way of restoring it. Please do an export before resetting. This will not reset the System Configuration such as RopeScore Live API details and this computers name." confirmed-click="reset()">Reset</button>
  <a ng-href="/display"><button>Display Live Unofficial Scores</button></a>
  <a ng-href="/combine"><button>Combine Two Categories</button></a>
  <button ng-click="resetOrder()">Reset Category order</button>
  <a ng-href="/globconfig"><button>System Configuration</button></a>
</div>
<h1>Dashboard</h1>
<div class="flex-container">
  <div ng-repeat="id in getEventsArray() | orderBy:getOrder track by $index" class="event">
    <a class="right edge part" ng-click="data.globconfig.order[id] = (data.globconfig.order[id] || 0) + 3; save()">&rsaquo;</a>
    <a class="left edge part" ng-click="data.globconfig.order[id] = (data.globconfig.order[id] || 0) - 3; save()">&lsaquo;</a>
    <a ng-href="/event/{{ id }}" ng-class="(data[id].config.completed ? 'green' : '')"
      class="center part">{{ data[id].config.name }}
      <span class="mono"><br/>{{ checksum(data[id].scores, 10) }}</span>
    </a>
  </div>
</div>

<h2 ng-if="getCompletedEventsArray().length > 0">Completed Categories</h2>

<div class="flex-container">
  <div ng-repeat="id in getCompletedEventsArray() | orderBy:getOrder track by $index" class="event">
    <a class="right edge part" ng-click="data.globconfig.order[id] = (data.globconfig.order[id] || 0) + 3; save()">&rsaquo;</a>
    <a class="left edge part" ng-click="data.globconfig.order[id] = (data.globconfig.order[id] || 0) - 3; save()">&lsaquo;</a>
    <a ng-href="/event/{{ id }}" ng-class="(data[id].config.completed ? 'green' : '')"
      class="center part">{{ data[id].config.name }}
      <span class="mono"><br/>{{ checksum(data[id].scores, 10) }}</span>
    </a>
  </div>
</div>

<div ng-if="getEventsArray().length + getCompletedEventsArray().length === 0">
  Welcome to RopeScore. To get the most out of RopeScore, read the <a href="/docs">Documentation</a>
</div>

<input type="file" class="hidden" id="import-file" enctype="multipart/form-data" />
